<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="member">


	<insert id="join">
		INSERT INTO
		EMPLOYEE
		(
			NO
			,PWD
			,NAME
			,TEL
			,EMAIL
			,ADDRESS
			,BIRTH
			,DEPT_NO
		)
		VALUES
		(
			#{no}
			,'1234'
			,#{name}
			,#{tel}
			,#{email}
			,#{address}
			,#{birth}
			,#{deptNo}
		)	
			
	</insert>

	
	
	
</mapper>